@model OrderEntity

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Customer.cshtml";
}
<div class="container mt-4">
    <h2 class="mb-4">Order Details</h2>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form asp-action="InitiateOrder" method="post">
                <div class="form-group">
                    <label asp-for="CustomerName" class="form-label">Name</label>
                    <input asp-for="CustomerName" class="form-control" required />
                </div>

                <div class="form-group">
                    <label asp-for="Mobile" class="form-label">Mobile</label>
                    <input asp-for="Mobile" class="form-control" required />
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input asp-for="Email" class="form-control" type="email" required />
                </div>

                <div class="form-group">
                    <label asp-for="TotalAmount" class="form-label">Total Amount</label>
                    <input asp-for="TotalAmount" class="form-control" required />
                </div>

                <div class="form-group mt-3">
                    <input type="submit" value="Continue To Pay" class="btn btn-primary btn-lg btn-block" />
                </div>
            </form>
        </div>
    </div>
</div>

