@model OrderEntity

<div class="align-content-center ">
    <div class="text-center text-success">
        <h2>Payment Recieved Successfully!!!</h2>
    </div>
    <br />
    <table class="table table-striped" width="15px">
        <thead>
            <tr>
                <td><strong>Transaction Number</strong></td>
                <td>@Html.DisplayText("TransactionId")</td
            </tr>

            <tr>
                <td><strong>Order Number</strong></td>
                <td>@Html.DisplayText("OrderId")</td>
            </tr>
        </thead>
    </table>
</div>